<p id="notice"><%= notice %></p>

<main>
  <div class='row'>
    <div class="col-md-3 col-xs-offset-3"><h1>Items</h1></div>
    <% if can? :manage, Item %>
      <div class="col-md-2"><span class="float-right"><%= link_to 'New Item', new_item_path %></span></div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <% @items.each do |item| %>
        <%= render "item_row", item: item, order_item: @order_item %>
      <% end %>
    </div>
  </div>
</main>
